@import "./fontcustom.less";
html,body{
  height: 100%;

}
#dnd-tree{
  height:100%;
}
.tree-drag-container{
  overflow: auto;
  height: 100%;
}
// .tree{
//   overflow: auto;
//   height: 100%;
// }
.tree-scroll-holder{
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;

}
.pop-tree-node-container {
  position: relative;

  & .isDragging{
    color: lightgray;
  }
  .insertBar{
    left: 0;
    right: 0;
    height: 9px;
    position: absolute;
    // z-index: 10;
    display: flex;
    flex-direction: column;
    >div{
      &.show{
        display: flex;
      }
      display: none;
      border-left: 1px solid green;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      >hr{
        height: 1px;
        margin: 0;
        border: 0;
        background-color: green;
      }
    }

    &.before{
      top:0;
    }
    &.after{
      bottom: 0;
    }


  }

    > .tree-node {
      position: relative;
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 32px;
      z-index: 9;
      >span{
        display: flex;
        flex:1;
      }
      &.cannotDrop{
        color: lightgray;
      }

        > .hasChild {
          display: block;
        }
        > .hasNoChild {
          display: none;
        }

      > .content {
        margin-left: 5px;
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
      }
    }
    > .tree-children {
      margin-left: 24px;
      &.collapsed {
        display: none;
      }
    }

}
